/* 
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Nina Wei's site customized style */ 

/* Fonts */
@font-face{
	font-family: Lato;
	src: url(../font/Lato-Light.ttf);
}

body{
	font-family: Lato, sans-serif;
}

h1{
	font-family: Lato;
	font-size: 40px;
	line-height: 60px;
	opacity: 0.9;
	color: #555;
}

/*body {
    height: 1200px;    

}
.top-bar .right {
    padding-top: 10px;
}
.top-bar {
	width: auto;
	padding: 15px 0;
	min-height: 71px;
}
.contain-to-grid {
	border-bottom: 2px solid #F4F4F4;
}
.contain-to-grid .top-bar {
	max-width: 1024px;
}
*/
/* Intro section */
#intro{
	background: url(../images/index_bg.jpg) no-repeat fixed;
	width: 100%;
	background-size: auto 100%;	
	color: white;
	padding-top: 14%;
}

#intro h1{
	font-family: Lato;
	font-size: 48px;
	line-height: 60px;
	opacity: 1;
	color: white;
}

#intro h3{
	font-family: Lato;
	font-size: 24px;
	line-height: 36px;
	opacity: 1;
	color: white;
	font-weight: 300;
}

#logo{
	width: 60px;
	float: left;
}

.intro_text{
	font-size: 22px;
	line-height: 32px;
	font-family: Lato;
	opacity: 1;
	margin-top: 28%;
	margin-left: 5%;
	color: white;
	font-weight: 300;
}   

.nav{
	font-size: 20px;
	line-height: 46px;
	font-family: Lato;
	width: 100%;
	position: absolute;
	bottom: 0px;
	z-index: 3;
}

.nav a{
	color: white;
	opacity: 0.7;
	padding-right: 15px;
	font-family: Lato;
}

.nav a:hover, .nav a:active{
	opacity: 1;
}

.nav_bg{
	background-color: #07C8EC;
	opacity: 0.7;
	width: 100%;
	position: absolute;
}

/* Portfolio Section */
#portfolio{
	background-color: white;
	min-height: 720px;
	padding: 30px 0;
}


span.quote{
	font-family: Lato;
	font-size: 18px;
	font-style: italic;
	line-height: 36px;
	opacity: 0.8;
	color: #555;
	padding-left: 10px;
}

ul.works{
	overflow: hidden;
	margin-top: 10px;
}

ul.works li{
	display: block;
	float: left;
	height: 180px;
	margin-right: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	width: 280px;
	border: 1px solid #ccc;
	cursor: pointer;
}

ul.works img{
	width: 280px;
}

.hover{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	opacity: 0.9;
	display: none;
	text-align: center;
}

.hover h3{
	color: #555;
	font-family: Cassannet;
	font-size: 24px;
	line-height: 40px;
	margin-top: 18%;
}

.tags{
	font-family: 'Source Sans Pro';
	font-size: 13px;
	margin-top: 5px;
}

.tags span{
	color: white;
	background-color: #07C8EC;
	padding: 3px 6px;
	margin: 0 2px;
}

/* Album Wall */
#album_wall{
	background: url(../images/album_wall.jpg) no-repeat fixed;
	min-height: 240px;
	width: 100%;
	background-size: auto 100%;	
}

.center{
	text-align: center;
}

#album_wall h1{
	font-family: Cassannet;
	font-size: 50px;
	line-height: 60px;
	opacity: 0.9;
	color: white;
	margin: 0 auto;
	margin-top: 10%;
}

/* About Section */
/*#about{
	background-color: white;
	min-height: 10px;
	padding: 30px 0;
}
*/
#profile{
	width: 180px;
}

p.about_text{
	font-size: 18px;
	line-height: 24px;
	font-family: Lato;
	opacity: 0.8;
	color: #333;
	margin-bottom: 18px;
}

#about a{
	color: #8c17a9;
	font-weight: 600;
	font-family: Lato, sans-serif;
}

#about a:hover{
	color: #c969e0;
}

/* Hire Section */
#hire{
	background: url(../images/hire_bg.jpg) no-repeat fixed;
	min-height: 360px;
	width: 100%;
	background-size: auto 100%;	
}

#hire h1{
	font-family: Cassannet;
	font-size: 36px;
	line-height: 50px;
	opacity: 0.9;
	color: white;
	margin-top: 16%;
}


/* Contact Section */
#contact{
	background-color: #07C8EC;
	min-height: 300px;
	opacity: 0.85;
	color: white;
	padding: 30px 0;
}

#contact a{
	color: white;
	text-decoration: underline;
	font-family: Lato, sans-serif;
}

#contact a:hover{
	color: white;
}

#contact h4{
	font-size: 18px;
	color: white;
	font-family: Lato;
}

.contact_link{
	font-weight: 700;
	font-size: 28px;
	padding: 25px 0;
	text-decoration: none;
	color: white;
	font-family: Lato;
}

.social_icon{
	height: 48px;
}

.social{
	padding: 20px 0;
}

.credit{
	padding-top: 10px;
}

p.contact_text{
	font-size: 15px;
	line-height: 22px;
	padding-bottom: 8px;
	padding-left: 50px;
	font-family: Lato;
}
footer {
	background-color: #07C8EC;
	opacity: 0.85;
}

h5{
	font-size: 12px;
	line-height: 12px;
	padding: 20px 20px 20px 20px;
	font-family: Lato;
	color: white;
}